.header {
  height: 80px;
}
.content {
  overflow-y: scroll !important;
  height: calc(100vh + -80px);
  padding-bottom: 120px;
}
.content::-webkit-scrollbar {
  display: none;
}
.column {
  /* position: relative !important; */
  height: 100vh !important;
}

.SendText {
  position: relative;
  bottom: 80px;
}

.boxText {
  width: 100% !important;
}
.formStyle {
  width: 100% !important;
}
.iconFile {
  z-index: 10;
  background-color: transparent !important;
  color: white !important;
  border-radius: 100%;
  border: none !important;
  top: 35px;
  left: 40px;
  height: 45px;
  width: 45px;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
.inputText {
  border-radius: 50px !important;
  height: 50px;
  background-color: #1a1d21 !important;
  border: none !important;
  color: white !important;
  padding-left: 60px !important;
  box-shadow: 1px 66px 18px 39px rgb(22, 25, 28);
  padding-right: 70px !important;
}
.sendButton {
  background-color: darkmagenta !important;
  color: white !important;
  border-radius: 100%;
  border: none !important;
  top: 50%;
  right: -17px;
  height: 45px;
  width: 45px;
  transform: translate(-50%, -50%);
}
.inputText:focus {
  box-shadow: 1px 66px 18px 39px rgb(22, 25, 28) !important;
}

.handle {
  position: absolute !important;
  right: 1000px !important;
}
