.parentUl {
  width: 100% !important;
}
.parentText {
  width: 80% !important;
}
.name {
  width: 100%;
}

.txt {
  color: darkmagenta;
}

.box {
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-between !important;
  align-items: center;
  background-color: lavenderblush;
}
.textWrapMax {
  display: inline-block !important;
  max-width: 100% !important;
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  white-space: nowrap !important; /* important to show ellipsis, or words will just be broken off */
}

.buttonImg {
  padding: 4px 5.5px;
  position: absolute;
  top: 25px;
  right: 2px;
  cursor: pointer;
  background-color: darkmagenta;
  border-radius: 100%;
}

.formControl {
  background-color: transparent !important;
  border: none !important;
  border-radius: 0px !important;
  color: darkmagenta !important;
}
.formControl:focus {
  outline: none !important;
  box-shadow: none !important;
  border-bottom: 1px solid white !important;
}

.logout {
  background-color: rgb(36, 36, 36);
  border-radius: 10px;
  cursor: pointer;
}
